.modal-container {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    position: relative;
    width: 80%;
    aspect-ratio: 16/9;
    min-height: 220px;
    background: #000;
    padding: 40px;
    border-radius: 20px;
}

.modal-content .close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}